.background {
    background-image: url(../img/green1.png);
    background-position:center;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    min-width:100%;
    min-height:100%;
}


hr {
    max-width: 30px;
    border-color: #ffffff;
    border-width: 2px;
}



.thumbnail-c{
    max-width:150px;
    max-height:150px;
}